<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="">
      <div class="aHl"></div>
      <div id=":q0" tabindex="-1"></div>
      <div id=":pp" class="ii gt">
        <div id=":po" class="a3s aiL msg-8145724318720074202">
          <u></u>
          <div style="margin: 0; padding: 0" dir="ltr" bgcolor="#ffffff">
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              align="center"
              id="m_-8145724318720074202email_table"
              style="border-collapse: collapse"
            >
              <tbody>
                <tr>
                  <td
                    id="m_-8145724318720074202email_content"
                    style="
                      font-family: Helvetica Neue, Helvetica, Lucida Grande,
                        tahoma, verdana, arial, sans-serif;
                      background: #ffffff;
                      max-width: 600px;
                    "
                  >
                    <table
                      border="0"
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                      style="border-collapse: collapse"
                    >
                      <tbody>
                        <tr>
                          <td height="20" style="line-height: 20px" colspan="3">
                            &nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                          <td>
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              style="border-collapse: collapse"
                            >
                              <tbody>
                                <tr>
                                  <td height="15" style="line-height: 15px">
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    width="32"
                                    align="left"
                                    valign="middle"
                                    style="height: 32px; line-height: 0px"
                                  >
                                    <img
                                      src="https://ci5.googleusercontent.com/proxy/8JL2ule9KrMjX9BHPfLqB144hhEQJl3Rvv_azXGi9foEKkmnur2qeVLoL1IUhEm01tewd5Zx-FTm7JcJmb6ypFQYd_CtGN200i-qpKpuzw=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yW/r/7s5lklTGUda.png"
                                      width="118"
                                      height="24"
                                      alt="Facebook"
                                      style="
                                        border: 0;
                                        font-size: 19px;
                                        font-family: Helvetica Neue, Helvetica,
                                          Lucida Grande, tahoma, verdana, arial,
                                          sans-serif;
                                        color: #1877f2;
                                      "
                                      class="CToWUd"
                                    />
                                  </td>
                                </tr>
                                <tr style="border-bottom: solid 1px #e5e5e5">
                                  <td height="15" style="line-height: 15px">
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                          <td>
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              style="border-collapse: collapse"
                            >
                              <tbody>
                                <tr>
                                  <td height="4" style="line-height: 4px">
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span
                                      class="m_-8145724318720074202mb_text"
                                      style="
                                        font-family: Helvetica Neue, Helvetica,
                                          Lucida Grande, tahoma, verdana, arial,
                                          sans-serif;
                                        font-size: 16px;
                                        line-height: 21px;
                                        color: #141823;
                                      "
                                      ><span style="font-size: 15px"
                                        ><p></p>
                                        <div
                                          style="
                                            margin-top: 16px;
                                            margin-bottom: 20px;
                                          "
                                        >
                                          Hey {{name}},
                                        </div>
                                        <div>
                                          Someone just used your password to try to sign in to your account from a unauthorised Application, Facebook blocked them. To secure your account, please Login.
                                        </div>
                                        <table
                                          border="0"
                                          width="100%"
                                          cellspacing="0"
                                          cellpadding="0"
                                          style="border-collapse: collapse"
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                height="20"
                                                style="line-height: 20px"
                                              >
                                                &nbsp;
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="middle">
                                                <a
                                                  href="{{href}}"
                                                  style="
                                                    color: #3b5998;
                                                    text-decoration: none;
                                                  "
                                                  target="_blank"
                                                  data-saferedirecturl="{{href}}"
                                                  ><table
                                                    border="0"
                                                    width="100%"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                    style="
                                                      border-collapse: collapse;
                                                    "
                                                  >
                                                    <tbody>
                                                      <tr>
                                                        <td
                                                          style="
                                                            border-collapse: collapse;
                                                            border-radius: 6px;
                                                            text-align: center;
                                                            display: block;
                                                            border: none;
                                                            background: #1877f2;
                                                            padding: 6px 20px
                                                              10px 20px;
                                                          "
                                                        >
                                                          <a
                                                            href="{{href}}"
                                                            style="
                                                              color: #3b5998;
                                                              text-decoration: none;
                                                              display: block;
                                                            "
                                                            target="_blank"
                                                            data-saferedirecturl="{{href}}"
                                                            ><center>
                                                              <font size="3"
                                                                ><span
                                                                  style="
                                                                    font-family: Helvetica
                                                                        Neue,
                                                                      Helvetica,
                                                                      Lucida
                                                                        Grande,
                                                                      tahoma,
                                                                      verdana,
                                                                      arial,
                                                                      sans-serif;
                                                                    white-space: nowrap;
                                                                    font-weight: bold;
                                                                    vertical-align: middle;
                                                                    color: #ffffff;
                                                                    font-weight: 500;
                                                                    font-family: Roboto-Medium,
                                                                      Roboto,
                                                                      -apple-system,
                                                                      BlinkMacSystemFont,
                                                                      Helvetica
                                                                        Neue,
                                                                      Helvetica,
                                                                      Lucida
                                                                        Grande,
                                                                      tahoma,
                                                                      verdana,
                                                                      arial,
                                                                      sans-serif;
                                                                    font-size: 17px;
                                                                  "
                                                                  >Login</span
                                                                ></font
                                                              >
                                                            </center></a
                                                          >
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table></a
                                                >
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                height="8"
                                                style="line-height: 8px"
                                              >
                                                &nbsp;
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                height="20"
                                                style="line-height: 20px"
                                              >
                                                &nbsp;
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="50" style="line-height: 50px">
                                    &nbsp;
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                          <td>
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              align="left"
                              style="border-collapse: collapse"
                            >
                              <tbody>
                                <tr style="border-top: solid 1px #e5e5e5">
                                  <td height="19" style="line-height: 19px">
                                    &nbsp;
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      font-family: Roboto-Regular, Roboto,
                                        -apple-system, BlinkMacSystemFont,
                                        Helvetica Neue, Helvetica, Lucida Grande,
                                        tahoma, verdana, arial, sans-serif;
                                      font-size: 12px;
                                      color: #8a8d91;
                                      line-height: 16px;
                                      font-weight: 400;
                                    "
                                  >
                                    Facebook, Inc.,
                                    Attention: Community Support, 1 Facebook
                                    Way, Menlo Park, CA 94025
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="15" style="display: block; width: 15px">
                            &nbsp;&nbsp;&nbsp;
                          </td>
                        </tr>
                        <tr>
                          <td height="20" style="line-height: 20px" colspan="3">
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="yj6qo"></div>
          <div class="adL"></div>
        </div>
      </div>
      <div id=":q4" class="ii gt" style="display: none">
        <div id=":q5" class="a3s aiL"></div>
      </div>
      <div class="hi"></div>
    </div>
  </body>
</html>
